.Buttonfilter {
    background-color: rgba(50, 205, 50, 0.6);
    border: none;
    color: black;
    padding: 1% 20%;
    margin-bottom: 5%;
}

.Buttonfilter:hover,
.Buttonfilter:active,
.Buttonfilter:visited {
    background-color: #228B22! important;
    border: none;
}

.activeBtn {
    background-color: #228B22! important
}