    .cardDisplay {
        width: 19rem;
        height: 31rem;
        margin: auto;
        margin-top: 4%;
        .cardImage {
            background-color: rgba(105, 105, 105, 0.2);
            width: 74%;
            margin: auto;
            margin-top: 9%;
        }
        .cardNumber {
            color: #0074ba;
            font-size: 1.4rem;
        }
        p {
            font-size: 1rem;
        }
        ul {
            margin-left: 18%;
        }
    }
    
    //tablets 
    @media only screen and (min-width: 700px) and (max-width: 1024px) {
        .cardDisplay {
            width: 15rem;
            height: 31rem;
            margin: auto;
            margin-top: 4%;
            .cardNumber {
                font-size: 1.4rem;
            }
            p {
                font-size: 1.1rem;
            }
        }
    }
    
    //desktop
    @media only screen and (min-width: 1024px) {
        .cardDisplay {
            width: 13rem;
            height: 26rem;
            margin: auto;
            margin-top: 4%;
            .cardNumber {
                font-size: 1rem;
            }
            p {
                font-size: 0.8rem;
            }
        }
    }